<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><%= t(:title, scope: [:data_manager,:loan_products_menu]) %></li>
    <li><a href="<%= new_data_manager_loan_product_path %>"><%= t(:new_loan_product, scope: [:data_manager,:loan_products_menu]) %></a></li>
  </ul>
</div><!--/.well -->
