<table border="0" cellpadding="20" cellspacing="0">

<tr>

<td id="left-table">
<span class="large-font">CUPRIUM</span>
<p class="medium-font">
Credit<br />
Union<br />
Process,<br />
Resource,<br />
Interface &amp;<br />
User<br />
Management
</p>
</td>
<!-- <em>*** STOP PRESS *** Complementary Currency & MicroFinance Software <a href="http://ccunconference.cc/">Unconference, 8th June</a>, London. In Conjunction with NESTA *** STOP PRESS *** </em>  -->
<td>

<p>Cuprium is designed to be</p>
<ul>
<li><a class="menu" href="">secure</a></li>
<li><a class="menu" href="">easy to use</a></li>
<li><a class="menu" href="">fully web enabled</a></li>
<li><a class="menu" href="">fully supportive of mobile services</a></li>

<li><a class="menu" href="">multilingual</a></li>
<li><a class="menu" href="">accessible to users with visual impairments</a></li>
<li><a class="menu" href="">quickly adaptable to match the needs of the users</a></li>
<li><a class="menu" href="">compatible with open standards and protocols</a></li>
<li><a class="menu" href="">extensible</a></li>
<li><a class="menu" href="">robust and resilient</a></li>
<li><a class="menu" href="">able to grow to meet long-term needs</a></li>
<li><a class="menu" href="">fully transparent to security analysts</a></li>
</ul>

<p>Cuprium can be adapted quickly to interface to network infrastructures,
reporting systems and any automated access service the banking industry
may choose to make available.</p>

<p>Cuprium is Free &amp; Open Source software released under the GPL. All
modifications distributed are fed back to the user community for its
common benefit. Furthermore, such a software model ensures that the
system will survive regardless of the fortunes of any company involved
in its development or support.</p>

<p>Cuprium can be modified or extended by any programmer, whether employed
by a vendor of by a Credit Union or groups of CUs.</p>

<p>Cuprium can provide a common framework through which third party
companies can provide support and training services.</p>

<p>For initial contact, please telephone Project Manager Richard Smedley on 0779 456 07 14
</p>
<p>
<a href="<%= new_data_manager_session_path %>">Login Data Manager</a><br />
<a href="<%= new_loan_application_path %>"><%= t(:make_loan_application,scope: :loan_application) %></a>
</p>
</td>
<!--
<td><img src="img/pennies-ripples-1.jpg"></td>
-->
</tr>

</table>
