<div class="span6">
  <% @accounts.each do |account| -%>
    <p>
      <%= link_to "#{account.owner} : #{account.number} : #{account.type} : #{account.balance}", select_data_manager_account_path(account.number,@on_select) %>
    </p>
  <% end -%>
</div>