Welcome to clients index

<table class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
<% for client in @clients do %>
  <tr>
    <td><%= client.first_name %></td>
    <td><%= client.last_name %></td>
    <td><%= client.address1 %></td>
    <td>Stuff</td>
  </tr>
<% end %>

</table>


